<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <title>Aao Khao Jao</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="#">Aao Khao Jao</a>
    	</div>
    
    	<!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse navbar-ex1-collapse">
    		<ul class="nav navbar-nav navbar-right">
               <li> <div class="btn-group">
                    <a href="http://127.0.0.1:8000/createuser"><button type="button" class="btn btn-success">Sign Up</button></a>
                   </div>
                   </li>
                <li>&nbsp;&nbsp;</li>
                <li><div class="btn-group">
                    <a href="http://127.0.0.1:8000/login/"><button type="button" class="btn btn-info">Log In</button></a>
                </div></li>
    		</ul>
    	</div><!-- /.navbar-collapse -->
    </nav>
    <div>
{% include 'app/restaurant_list.html' with restaurant_list="Restaurant.objects.all()" %}
        </div>
</body>
</html>
